<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="accent" class="nav-toolbar">
  <mat-toolbar-row>
    <span class="home">
      <a mat-icon-button routerLink="/" routerLinkActive="active">
        <mat-icon aria-label="Search movie">home</mat-icon>
      </a>
    </span>

    <span class="search">
      <form class="search-form" color="accent">
        <mat-form-field class="full-width">
          <input matInput placeholder="Movie Name" aria-label="movie" autocomplete="off" [(ngModel)]="movieTitle" name="movieTitle" (keyup)="autocumpliteEmitter(movieTitle)">
        </mat-form-field>
        <div class="autocomplite-section" *ngIf="filteredMovies?.length > 0">
          <div *ngFor="let movie of filteredMovies, let i = index" class="movie-item">
            <span style="display:flex; width:100%" (click)="getDetails(movie.imdbID)">
              <img style="vertical-align:middle;" aria-hidden src="{{movie.Poster}}" height="80" />
              <div class="details">
                <div class="title" color="primary">{{movie.Title}}</div>
                <div>Year: {{movie.Year}}</div>
                <div>Type: {{movie.Type}}</div>
              </div>
            </span>
            <div class="autocomplite-action">
              <button mat-raised-button color="primary" (click)="addToMyList(i)">Add to my list</button>
            </div>
          </div>
        </div>
        <button mat-icon-button (click)="search(movieTitle)">
          <mat-icon aria-label="Search movie">search</mat-icon>
        </button>
      </form>
    </span>

    <span class="movie-list">
      <a mat-button routerLink="/my-list" routerLinkActive="active">My Movie List</a>
    </span>
    
  </mat-toolbar-row>
</mat-toolbar>
<section>
  <router-outlet></router-outlet>
</section>
