<div class="result-list">
  <mat-card class="movie-card" *ngFor="let item of myList">
    <mat-card-header>
      <mat-card-title>{{item.Title}}</mat-card-title>
      <mat-card-subtitle>{{item.Year}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{item.Poster}}" alt="{item.Title}} poster" (click)="getDetails(item.imdbID)">
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="removeMovie(item.imdbID)">Remove from my list</button>
    </mat-card-actions>
  </mat-card>
</div>

